In [8]:
import pandas as pd

#### Code to merge the dataframes of spotify with the dataframe of the music awards

In [9]:
album_spotify=pd.read_csv("album_spotify.csv")
artist_spotify=pd.read_csv("artist_spotify.csv")
song_spotify=pd.read_csv("song_spotify.csv")
main_categories=pd.read_csv("Main_categories_short.csv")

In [10]:
album=album_spotify[["Year","Album"]]
album["Category"]="Top Album"
album = album.rename(columns={'Album': 'Most Streamed'})

artist=artist_spotify[["Year","Artist"]]
artist["Category"]="Top Artist"
artist = artist.rename(columns={'Artist': 'Most Streamed'})

song=song_spotify[["Year","Song"]]
song["Category"]="Top Song"
song = song.rename(columns={'Song': 'Most Streamed'})

C:\Users\fspor\AppData\Local\Temp\ipykernel_7544\3209123598.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  album["Category"]="Top Album"
C:\Users\fspor\AppData\Local\Temp\ipykernel_7544\3209123598.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  artist["Category"]="Top Artist"
C:\Users\fspor\AppData\Local\Temp\ipykernel_7544\3209123598.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  song["Category"]="Top Song"

In [11]:
spotify=pd.concat([album,song,artist])
spotify = spotify.loc[spotify['Year'] != 2012]
spotify.head()

   Year                             Most Streamed   Category
0  2023                          Un Verano Sin Ti  Top Album
1  2022                          Un Verano Sin Ti  Top Album
2  2021                                      Sour  Top Album
3  2020                                  YHLQMDLG  Top Album
4  2019  When We All Fall Asleep, Where Do We Go?  Top Album

In [12]:
final=pd.merge(main_categories, spotify, on=["Year","Category"])
final = final.drop(columns=['Unnamed: 0'])
final.head()

,Year,Category,Winner_AMA,Winner_BMA,Winner_GA,Most Streamed
0,2013,Top Album,NaN,Red,Random Access Memories,The Heist
1,2013,Top Album,NaN,NaN,NaN,The Heist
2,2014,Top Album,NaN,The 20/20 Experience,Morning Phase,×
3,2014,Top Album,NaN,NaN,NaN,×
4,2015,Top Album,NaN,1989,1989,Beauty Behind the Madness

In [13]:
spotify.to_csv('spotify.csv', index=False) 
final.to_csv('final.csv', index=False)

Select the rows with the same winners

In [15]:
def find_duplicate_values(row):
    duplicates = []
    for col1 in final.columns:
        for col2 in final.columns:
            if col1 != col2 and row[col1] == row[col2]:
                duplicates.append((col1, col2, row[col1]))
    return duplicates


result = final.apply(find_duplicate_values, axis=1)
print(result)

0                                                    []
1                                                    []
2                                                    []
3                                                    []
4                                                    []
5                                                    []
6                                                    []
7                                                    []
8                                                    []
9                                                    []
10                                                   []
11                                                   []
12    [(Winner_GA, Most Streamed, When We All Fall A...
13                                                   []
14                                                   []
15                                                   []
16                                                   []
17                                                   []
18                                                   []
19                                                   []
20                                                   []
21                                                   []
22    [(Winner_AMA, Winner_BMA, Taylor Swift), (Winn...
23                                                   []
24                                                   []
25                                                   []
26                                                   []
27                                                   []
28                                                   []
29                                                   []
30                                                   []
31                                                   []
32    [(Winner_BMA, Most Streamed, Taylor Swift), (M...
dtype: object